.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../assets/fondologin.png');
  background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
  background-position: center; /* Centra la imagen */
}

.login-form {
  background: #c463e2;
  padding: 10px 40px;
  border-radius: 10px;
  box-shadow: 0 2px 10px #1a64ae(254, 251, 251, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  margin: 1rem;
  
}

.login-form h2 {
  color:  #ffffff;
  font-size: 30px;
  margin-bottom: 4px;
  text-align: center;
  background-image: url('../assets/logovideogames.png'); /* Ruta de tu logo */
  background-repeat: no-repeat;
  background-position: center top; /* Coloca el logo en el centro arriba del texto */
  background-size: 70px; /* Ajusta el tamaño del logo */
  padding-top: 70px; /* Ajusta el espacio para el logo */
}

.login-form p {
  color:  #ffffff;
  font-size: 15px;
  margin-bottom: 20px;
  text-align: center;
}


.login-form .input-group {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column; /* Establece la dirección de los elementos como columna */
  
}

.login-form .input-group label {
  display: block;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 8px;
}

.login-form .input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: #1a64ae;
}

.login-form .submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #1a64ae; /* Usa el color azul de tu imagen */
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 16px;
}

.login-form button[type="button"] {
  background-color: #1a64ae; /* Este es el color para el botón de Google */
  color: white;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-image: url('../assets/logogoogle.png'); /* Reemplaza 'ruta/al/logo.png' con la ruta correcta de tu imagen */
  background-repeat: no-repeat;
  background-position: 50px center;;
  background-size: 25px; /* Ajusta el tamaño del logo */
  padding-left: 0px; /* Ajusta el espacio para el logo */
  
}

.login-form .form-footer {
  text-align: center;
  margin-top: 16px;
}

.login-form .form-footer a {
  color: #5e5ebc;
  text-decoration: none;
}

.login-form .submit-btn,
.login-form button[type="button"] {
  width: 100%;
  padding: 12px;
  background-color: #1a64ae; /* Usa el color azul de tu imagen */
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 16px;
  transition: background-color 0.3s ease; /* Agrega una transición suave de 0.3 segundos para el cambio de color de fondo */
}

.login-form .submit-btn:hover,
.login-form button[type="button"]:hover {
  background-color: #8c18a0; /* Cambia el color de fondo cuando el cursor está sobre el botón */
}

