/* UserDetail.css */

/* Estilos para el contenedor principal del componente */
.UserDetail {
    text-align: center; /* Centra el contenido del componente */
    margin-top: 20px; /* Espacio en la parte superior del componente */
  }
  
  /* Estilos para el nombre de usuario */
  .UserDetail h3 {
    color: #3f2e96; /* Color del texto del nombre de usuario */
    font-size: 24px; /* Tamaño de la fuente del nombre de usuario */
    font-weight: bold; /* Fuente en negrita */
  }
  